---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"blog">[];
};

const { posts } = Astro.props;
---

{
  posts.length > 0 && (
    <>
      <div class="flex items-center gap-x-2">
        <h2 class="w-fit text-xl font-bold text-gray-800">Blogs</h2>
        <a class="text-xs text-gray-600 underline" href="/blogs">
          <span>ดูทั้งหมด</span>
        </a>
      </div>
      <ul class="grid grid-flow-row gap-3 md:grid-cols-2 lg:grid-cols-3">
        {posts.map((post) => (
          <li class="overflow-hidden rounded-lg bg-gray-50 transition-all hover:shadow hover:shadow-gray-300">
            <a
              class="flex h-full flex-row items-center gap-4 p-4"
              href={`/blogs/${post.slug}`}
            >
              {post.data.preview && (
                <Image
                  src={post.data.preview}
                  width={192}
                  height={192}
                  class="aspect-square h-[64px] w-[64px] rounded-lg border border-gray-300 bg-gray-50 object-contain p-1"
                  alt={`preview of ${post.slug}`}
                />
              )}

              <h3>{post.data.title}</h3>
            </a>
          </li>
        ))}
      </ul>
    </>
  )
}
