---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"blog">[];
};

const { posts } = Astro.props;
---

{
  posts.length > 0 && (
    <>
      <div class="flex items-center justify-between gap-4">
        <h2 class="text-xl font-bold w-fit text-gray-800">Blogs</h2>
        <a
          class="inline-block px-2 py-1 rounded bg-gray-800 text-gray-100 w-fit"
          href="/blog"
        >
          <span>ดูทั้งหมด</span>
        </a>
      </div>
      <ul class="grid md:grid-cols-2 lg:grid-cols-3 grid-flow-row gap-3">
        {posts.map((post) => (
          <li class="overflow-hidden bg-gray-50 rounded-lg hover:shadow hover:shadow-gray-300 transition-all">
            <a
              class="flex flex-row items-center h-full p-4 gap-4"
              href={`/blog/${post.slug}`}
            >
              {post.data.preview && (
                <Image
                  src={post.data.preview}
                  width={64}
                  height={64}
                  class="p-1 aspect-square w-[64px] h-[64px] object-contain bg-gray-50 border border-gray-300 rounded-lg"
                  alt={`preview of ${post.slug}`}
                />
              )}

              <h3>{post.data.title}</h3>
            </a>
          </li>
        ))}
      </ul>
    </>
  )
}
