---
import { Image } from "astro:assets";
import WebringIcon from "./WebringIcon.svg";
const today = new Date();
---

<footer class="flex flex-row gap-4 items-center justify-center w-full my-4">
  <span>
    &copy; {today.getFullYear()} Anuwong built with <a
      class="underline text-violet-700 font-bold"
      href="https://astro.build">Astro</a
    > and <a
      href="https://tailwindcss.com"
      class="text-blue-500 font-bold underline">Tailwind CSS</a
    >. All rights reserved.
  </span>
  <a href="https://webring.wonderful.software/#/anuwong.com" title="วงแหวนเว็บ">
    <Image alt="วงแหวนเว็บ" width="32" height="32" src={WebringIcon} />
  </a>
</footer>
