---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

const slashes = pathname.replace(/\/$/, "").split("/");
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, "") ||
  (href?.toString() &&
    slashes
      .slice(1, slashes.length)
      .includes(href?.toString()?.replace(/^\//, "")));
---

<a
  href={href}
  class:list={[
    className,
    "inline-block",
    { "border-b-4 font-bold  border-stone-600": isActive },
  ]}
  {...props}
>
  <slot />
</a>
