---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url

const slashes = pathname.replace(/\/$/, '').split('/')
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, '') ||
  (href?.toString() &&
    slashes
      .slice(1, slashes.length)
      .includes(href?.toString()?.replace(/^\//, '')))
---

<a
  href={href}
  class:list={[
    className,
    "font-bold  text-gray-600 hover:text-gray-900",
    "px-4 py-2",
    "inline-block border-b-4 ",
    { "border-gray-800": isActive },
  ]}
  {...props}
>
  <slot />
</a>
