---
import Analytics from '@/components/Analytics.astro'
import '@fontsource/ibm-plex-sans-thai/400.css'
import '@fontsource/ibm-plex-sans-thai/700.css'
import '@fontsource/inter/latin-400.css'
import '@fontsource/inter/latin-700.css'
import '@fontsource/sarabun/thai-400.css'
import '@fontsource/sarabun/thai-700.css'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
  title: string
  description: string
  imageUrl?: string
}

const { title, description, imageUrl } = Astro.props
---

<!doctype html>
<html lang="th">
  <head>
    <BaseHead title={title} description={description} imageUrl={imageUrl} />
    <slot name="head" />
  </head>
  <body class="bg-gray-300">
    <Header />
    <slot />
    <Footer />
    <slot name="scripts" />

    <!-- Google Tag Manager -->
    {import.meta.env.PROD && <Analytics />}
  </body>
</html>
